.App {
  overflow: auto;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  background-color: rgb(182, 223, 163);
  
}
.Input{
  position:fixed;
  top: 65%;
  left: 35%;
  width:20%;
  padding:10px;
  border-radius:10px;
  background-color: rgb(231, 238, 227);


}
.Button{
  background-color: rgb(231, 238, 227);
  top: 65%;
  left: 58%;
  width:10%;
  padding:10px;
  border-radius:10px;
  position:fixed;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cfd5df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.BackGround{
  background-color: lemonchiffon;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Text{
  position:absolute;
  top: 50%;
  left: 45%;
}
.Questions{ 
   position:sticky;
  top: 15%;
  left: 30%;

 font-size: 30px;
  
}
.Answers{
  top: 25%;
  left: 45%;
  position:sticky;
  font-size: 25px;
}
.Result{
  top: 55%;
  left: 43%;
  position:fixed;
  font-size: 20px;
  padding-top: 50px;
}

.Td{
  padding: 10px;
  //width: 200px;
}
.Results{
  padding-bottom: 144px;
  top: 25%;
  left: 35%;
  position:sticky;
  vertical-align:top;
  text-align:center;
  display:inline-block;
  max-width:500px;
}
